/.phpunit.cache
/node_modules
/Modules/Templates/node_modules/
/Modules/Templates/vendor/
/public/build
/public/build-templates
/public/trigger/trigger-templates
/public/media_library
/public/email_builder
/public/push_notification_images
/public/hot
/public/storage
/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
